body {
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

section {
    columns: 2;
    padding: 16px 32px;
    column-gap: 32px;
    max-width: 500px;
}

section img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    animation: reveal-right linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

section .column-left {
    border-radius: 4px;
    width: 100%;
    height: auto;
    margin-bottom: 32px;
    animation: reveal-left linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

@keyframes reveal-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes reveal-left {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}